@import '../../styles/global.scss';
@import url('../../styles/global-fonts.scss'); 

.container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: left;

    > * {
        justify-content: left;
    }
}
