@import '../../styles/global.scss';

.email-bar {
    /* size settings */
    width: 80%;

    /* border */
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: rgb(190, 190, 190);
    color: rgb(190, 190, 190);

    /* element positioning (flexbox) */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;

    overflow: hidden;
}

.text-field {
    /* select all text on click */
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
  
    /* email entry expands to fill empty space */
    flex-grow: 1;
    height: 100%;
  
    /* text positioning and hiding */
    padding-left: 10px;
    overflow: hidden;
  
    /* Align text to center */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icons {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-container {
    /* all elements have maximum height */
    height: 100%;

    background-color: $elementColorLight;
    border-style: solid;
    border-right: 2px;
    border-color: rgb(190, 190, 190);

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    

    cursor: pointer;

    * {
        height: 100%;
    }

    img {
        /* images scale down to fit */
        object-fit: contain;
        height: 80%;
        border-style: solid;
        border: 4px;
        border-color: blue;

        box-sizing: border-box;

        filter:brightness(74.5%);
    }
}  

.icon-container:hover {
    background-color: $elementColorLighter;

    .icon {
        filter:brightness(100%);
    }
}
