.body-text {
    font-size: 20pt;
    font-family: 'DINMediumRegular';
    color: rgb(190, 190, 190);
}
  
.social-media-subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.social-media-subsection > p {
    padding-bottom: 20px;
}
