/*
@font-face {
  font-family: 'ITCAvantGardeGothicBold';
  src: local('ITCAvantGardeGothicBold'), url(./fonts/ITCAvantGardeGothicBold.otf) format('opentype');
}
@font-face {
  font-family: 'ITCAvantGardeGothicBoldCondensed';
  src: local('ITCAvantGardeGothicBoldCondensed'), url(./fonts/ITCAvantGardeGothicBoldCondensed.otf) format('opentype');
}
@font-face {
  font-family: 'Univers67';
  src: local('Univers67CnBold'), url(./fonts/Univers67CnBold.otf) format('opentype');
}
@font-face {
  font-family: 'UniversT49';
  src: local('UniversLT49CnLightUltra'), url(./fonts/UniversLT49CnLightUltra.ttf) format('truetype');
}
@font-face {
  font-family: 'HelveticaMedium';
  src: local('Helvetica67MediumCondensed'), url(./fonts/Helvetica67MediumCondensed.otf) format('opentype');
}
@font-face {
  font-family: 'KeepCalmMedium';
  src: local('KeepCalmMedium'), url(./fonts/KeepCalmMedium.ttf) format('truetype');
}*/

@font-face {
    font-family: 'MusticaProSemiBold';
    src: local('MusticaProSemiBold'), url(../fonts/MusticaProSemiBold.otf) format('opentype');
}
@font-face {
    font-family: 'Roadway';
    src: local('Roadway'), url(../fonts/Roadway.ttf) format('truetype');
}
@font-face {
    font-family: 'DINMediumRegular';
    src: local('DINMediumRegular'), url(../fonts/DINMediumRegular.ttf) format('truetype');
}

.index-font {
    font-size: min(2vw, 20px);
    font-family: 'DINMediumRegular';
    text-transform: uppercase;
    color: rgb(210, 210, 210);
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.name-font {
    font-size: min(108pt, 16vmin);
    font-family: 'MusticaProSemiBold';
    text-transform: uppercase;
    color: white;
}

.subtitle-font {
    font-size: min(20pt, 3vmin);
    letter-spacing: 0.175vw;
    font-family: 'Roadway';
    text-transform: uppercase;
    color: white;
}

.header-font {
    font-size: 50pt;
    margin: 0pt;
    font-family: 'MusticaProSemiBold';
    color: white;
}

.body-font {
    font-size: 20pt;
    font-family: 'DINMediumRegular';
    color: rgb(190, 190, 190);
}

.experience-bar-font {
  font-size: 14pt;
  font-family: 'DINMediumRegular';
  color: rgb(235, 235, 235);
}

.experience-detail-font {
  font-size: 14pt;
  font-family: 'DINMediumRegular';
  color: rgb(190, 190, 190);
}

.project-filter-header-font {
  font-size: 14pt;
  font-family: 'DINMediumRegular';
  color: rgb(190, 190, 190);
}

.project-filter-tag-font {
  font-size: 14pt;
  font-family: 'DINMediumRegular';
  color: rgb(127, 127, 127);
}

.project-title-font {
    font-size: 24pt;
    font-family: 'DINMediumRegular';
    color: rgb(255, 255, 255);
}

.project-description-font {
  font-size: 14pt;
  font-family: 'DINMediumRegular';
  color: rgb(190, 190, 190);
}

.project-technologies-font {
  font-size: 12pt;
  font-family: 'DINMediumRegular';
  color: rgb(142, 142, 142);
}

.email-font {
    font-size: 20pt;
    font-family: 'DINMediumRegular';    
}

.site-button-font {
    font-size: 20pt;
    text-transform: uppercase;
    font-family: 'DINMediumRegular';
}

.project-page-link-font {
    font-size: 14pt;
    text-transform: uppercase;
    font-family: 'DINMediumRegular';
}