@import '../../styles/global.scss';

.list {
    padding: 5lvh 0;

    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    row-gap: 2lvh;
}

.container {
    width: max(350px, 70%);

    background-color: $elementColorDark;
    border-radius: 10px;
}

.bar {
    background-color: $elementColorLight;
    border-radius: 10px;

    width: 100%;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.bar-text {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 10px;
    
    > * {
        flex-grow: 1;

        display: flex;
        flex-flow: row nowrap;
    }

    > :last-child {
        justify-content: end;
    }
}

.bar-left {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.bar-right {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.bar-end-symbol {
    position: relative;
    top: -2px;
}

.bar-exposed {
    display: flex;
    flex-flow: column;
    row-gap: 15px;

    padding: 15px;
}

.point-list {
    display: flex;
    flex-flow: column;
}