.project-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1;
  
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0);

    cursor: pointer;
}

.thumbnail-area {
    overflow: hidden;
  
    width: 100%;
    height: 60%;

    /* Gradient shadow along bottom */
    box-shadow: inset 0 -15px 25px -10px rgba(0, 0, 0, 0.7);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: -2;
    }
}

.caption-area {
    width: 100%;
    height: 40%;

    /* Interior padding */
    padding: 0 5%;
    box-sizing: border-box;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    row-gap: 5%;
  
    background-color: rgb(65, 65, 65);
}
  
.title {
    /* wrapping handling */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
.description {
    /* wrapping handling */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    /* wrapping handling 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; */
}

.technologies {
    /* Adding a margin because I think it looks better */
    margin-top: 5%;

    /* Spacing technologies */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* wrapping handling */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Individual technology colors */

.techA {
    color: green;
}

.techB {
    color: orange;
}