.project-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 1;
  
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0);
}

.thumbnail-area {
    overflow: hidden;
  
    width: 100%;
    height: 60%;

    /* Gradient shadow along bottom */
    box-shadow: inset 0 -15px 25px -10px rgba(0, 0, 0, 0.7);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        z-index: -2;
    }
}

.caption-area {
    width: 100%;
    height: 40%;

    /* Interior padding */
    box-sizing: border-box;
  
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  
    background-color: rgb(65, 65, 65);
}
  
.title {
    /* alignment */
    text-align: left;
    padding-bottom: 5px;

    /* wrapping handling */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
  
.category {
    /* alignment */
    text-align: left;

    /* wrapping handling */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    /* wrapping handling 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis; */
}

.project-block:hover {
    .thumbnail-area {
        height: 0%;
    }

    .caption-area {
        height: 100%;
    }
}